.dashboardLayout {
    background: #000;
    height: 100%;
    min-height: 100vh;
    display: flex;
}

.dashboardLayout > aside {
    background: wheat;
    width: 265px;
    position: relative;
    min-height: 100vh;
}

.dashboardLayout > aside > nav {
    background: rgb(0, 17, 48);
    background: -moz-linear-gradient(
        90deg,
        rgba(5, 0, 82, 1) 56%,
        rgba(5, 0, 82, 1) 56%,
        rgba(0, 37, 105, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(5, 0, 82, 1) 56%,
        rgba(5, 0, 82, 1) 56%,
        rgba(0, 37, 105, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(5, 0, 82, 1) 56%,
        rgba(5, 0, 82, 1) 56%,
        rgba(0, 37, 105, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001130",endColorstr="#002569",GradientType=1);
    color: var(-white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 265px;
    z-index: 2;
    overflow-y: auto;
}

.dashboardLayout > div {
    background: whitesmoke;
    flex: 1;
    width: 100%;
}

.dashboardLayout > aside.closeAsideDesktop {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 1%;
}

.dashboardLayout > aside.closeAsideDesktop:hover {
    width: 1%;
}

.dashboardLayout > aside.closeAsideDesktop > nav {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-97%);
}

.dashboardLayout > aside.closeAsideDesktop:hover > nav {
    transform: translateX(-0%);
}

/************************ /
/**** MEDIA QUERIES **** //
/************************/
@media only screen and (max-width: 990px) {
    .dashboardLayout > .leftNavCol {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(var(--dark-rgb) / 0.2);
        backdrop-filter: blur(1px);
        transform: translateX(-0%);
    }

    .dashboardLayout > .leftNavCol.openAsideMobile {
        transform: translateX(-100%);
        z-index: 2;
    }

    .dashboardLayout > aside.closeAsideDesktop:hover > nav {
        transform: translateX(-100%);
    }

    .dashboardLayout > aside.closeAsideDesktop > nav {
        transform: translateX(-100%);
    }
}
